---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Machine Learning</div>
  </div>

  <HorizontalCard
    title="Sample Efficient Learning of Predictors that Complement Humans"
    img="/Eff.webp"
    desc="In here, we provide first theoretical results on joint learning of classifier and rejector, we design an active learning algorithm to do so, and we further introduce a set of surrogate losses to make the learn-to-defer training possible for neural networks."
    url="https://proceedings.mlr.press/v162/charusaie22a/charusaie22a.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Hermite Polynomial Features for Private Data Generation"
    img="/DPHP.webp"
    desc="In this paper, we designed an alternative to random features to generate more efficient representations of a dataset that further could be privacy-preserving with maintaining the quality of the instances."
    url="https://proceedings.mlr.press/v162/vinaroz22a/vinaroz22a.pdf"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Information Theory</div>
  </div>

  <HorizontalCard
    title="Compressibility Measures for Affinely Singular Random Vectors"
    img="/RDE.webp"
    desc="In this paper, we define a set of singular distributions that naturally arise in autoregressive processes. Then, we obtain R\'enyi information dimension for processes with such probability distribution. We further, find an extension to differential entropy for such class of probability measures. Then, we find information-theoretic and compressed-sensing reconstruction errors for compression of samples of such processes."
    url="https://arxiv.org/pdf/2001.03884.pdf"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="On the Compressibility of Affinely Singular Random Vectors"
    img="/ASRV.webp"
    desc="In this paper, I find a probabilistic extension to sparsity that can lead to similar  guarantees in reconstruction error in compressed sensing problems. This is done by finding R\'enyi Information Dimension for probability measures with singularity."
    url="https://www.researchgate.net/profile/Mohammad-Amin-Charusaie/publication/343842135_On_the_Compressibility_of_Affinely_Singular_Random_Vectors/links/5f4d151d299bf13c5068a83f/On-the-Compressibility-of-Affinely-Singular-Random-Vectors.pdf"
  />
</BaseLayout>
